{% extends './index.html' %}
{% load static %}

{% block body %}

<section>

    <div style=" background-color: rgb(250, 255, 255); text-align: centerdfx;">
        <section>
        <h6> Nuestro objetivo principal es brindarte una experiencia única y confiable en cada visita. Como taller mecánico, nos esforzamos por construir relaciones duraderas con nuestros clientes.  </h6>
        </section>
          <div class="card">
            <div class="card-body">
              <h5 class="card-text" style="text-align: center; color: #000000; margin: 10px; text-shadow: black 0.1em 0.1em 0.2em">Servicio al cliente, Calidad y Integridad</h5>
              <p class="card-text" style="text-align: center ; "> En nuestro taller mecánico, nuestros valores fundamentales son la integridad, la calidad y el servicio al cliente. Estos valores nos guían en todas nuestras interacciones y nos definen como profesionales de confianza en la industria automotriz.</p>
            </div>
          </div>
        
        </div>

</section>

{% endblock %}
