{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/mystiles.css' %}">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">




    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="stylesheet" href="estilos/estilos.css">

    

</head>




<body>




     <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id = "navbar">  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="CasoRayoMakween.html"><p class = "nav-link active" style="width: 3rem; height: 1rem;">Inicio</p></a>
          </li>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="QuienesSomos.html"><p class = "nav-link active" style="width: 8rem; height: 1rem;"> Quienes Somos </p></a>
              </li>


              <li class="nav-item">
                <a class="nav-link active"  aria-current="page" href="Contacto.html"><p class = "nav-link active" style="width: 5rem; height: 1rem;"> Contacto </p></a>

              </li>
              

             <header> 
              <img id = "imagenlogo" src="{% static 'img/imgcaso/carlogonav.png' %}" alt="Logo Taller Mecanico">
            </header> 



          </div>
        </div>
      </nav>

    

      <ul class="nav justify-content-end" style="width: 1920px; height: 2px; margin: 1px;" >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="Login.html" id = "btnlogin"> Login </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id = "btnlogin">Cerrar sesion</a>
        </li>
  
      </ul>
    




    <div>

 





      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="border-top-left-radius: 10px; width: 35%; height: 80%;
      margin:1px;
      max-width: 1200px;
      max-height: 50px; "
    >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <!-- <img id = "imagenescarrusel" src="estilos/img/20-1472652044-1400x1400.png" class="d-block w-100" alt="..."> -->
            <a title="NUESTROS SERVICIOS" href="Servicios.html"><img id = "imagenescarrusel" src="img/20-1472652044-1400x1400.png" class="d-block w-100" alt="..." /></a>


            <div class="carousel-caption d-none d-md-block">
                <h6>NUESTROS SERVICIOS, CLICK AQUI PARA VER LOS SERVICIOS</h6>
              </div>

          </div>
          <div class="carousel-item">
            <a title="NUESTROS SERVICIOS" href="Servicios.html"><img id = "imagenescarrusel" src="MantencionMotor/images.jpg" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-none d-md-block">
              <h6>NUESTROS SERVICIOS, CLICK AQUI PARA VER LOS SERVICIOS</h6>
            </div>

        </div>
          </div>


<nav>

      
            <div class="carousel-item">
              <section class = "container"></section>
              <figure>
              <a title="NUESTROS SERVICIOS" href="Servicios.html"><img id = "imagenescarrusel" src="MantencionMotor/maxresdefault.jpg" class="d-block w-100" alt="..."></a>
              </figure>
            </section>
            <div class="carousel-caption d-none d-md-block">
              
             </div>
           
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" style="


        border-top: 10px; width: 3rem; height: 2rem; margin: 1px; background-color: rgb(0, 0, 0); top: 200px; left: 30px;
    ">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden" >Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" style="
        border-top: 10px; width: 3rem; height: 2rem; margin: 1px; background-color: rgb(0, 0, 0); top: 200px; left: 595px;

    ">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>



  </nav>

<div>
<h1 style=" background-color: rgb(51, 54, 54); height: 350px; margin: -60px; padding-left: 1500px; width: 2027px; border-radius: 10px; box-shadow: 5px 10px 8px #252525; border-radius: 25px;"><p style="position: relative; left: -350px; top: 50px; text-align: center; color: white; background-color: #1f1e1e; border-radius: 5px; color: white; text-shadow: black 0.1em 0.1em 0.2em">Bienvenido, Taller Mecanico Rayo Makween</p>   <img  style = "left: -350px; position: relative; width: 300px; height: 300px; top: 100px;"src="img/car-logo-clipart-lightning-mcqueen-rayo-mcqueen-logo-para-1641338-removebg-preview.png" class="d-block w-100" alt="...">
</h1>


<div>



<div>

<h1 style=" background-color: rgb(51, 54, 54); height: 350px; margin: -60px; padding-left: 1500px; width: 2027px; border-radius: 10px; box-shadow: 5px 10px 8px #000000; border-radius: 25px;"><p style="position: relative; left: -350px; top: 50px; text-align: center; color: white;"></p> </h1>

<div style=" background-color: rgb(51, 54, 54); height: 150px; margin: -60px; padding-left: 1500px; width: 2027px; border-radius: 10px; box-shadow: 5px 10px 8px #000000; border-radius: 25px;">
  <h6 style="position: relative; left: -350px; top: 10px; text-align: center; color: white;  text-shadow: black 0.1em 0.1em 0.2em"> Nuestro objetivo principal es brindarte una experiencia única y confiable en cada visita. Como taller mecánico, nos esforzamos por construir relaciones duraderas con nuestros clientes.  </h6>
  
    <div class="card" style="width: 18rem; height: 20rem; margin: 1px; top: -275px; left: -1200px; border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #000000; border-radius: 25px;">
      <div class="card-body">
        <h5 class="card-text" style="text-align: center; color: #000000; margin: 10px; text-shadow: black 0.1em 0.1em 0.2em">Servicio al cliente, Calidad y Integridad</h5>
        <p class="card-text" style="text-align: center ; "> En nuestro taller mecánico, nuestros valores fundamentales son la integridad, la calidad y el servicio al cliente. Estos valores nos guían en todas nuestras interacciones y nos definen como profesionales de confianza en la industria automotriz.</p>
      </div>
    </div>
  
  </div>

  <div>
    <h1 style="position: relative; top: 200px; background-color: rgb(20, 20, 20); width: 500px; left: 720px; border-radius: 5px; text-shadow: black 0.1em 0.1em 0.2em"> SERVICIOS </h1>
  </div>
  <div class:="card-body"> 
    <br>
        <div class="col ml-5">
          <div class="card" style="width: 25rem;margin: auto; margin: 0; position: absolute; top: 140%; left: 20%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
            <img class="card-img-top" src="img/pngtree-car-mechanic-man-thinking-at-the-garage-fixing-the-engine-photo-image_2104549.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">MANTENCION GENERAL MOTOR</h5>
              <p class="card-text"> </p>
              <a href="MantencionMotor.html" class="btn btn-primary">Ir al Detalle</a>
            </div>
          </div>
        </div>
    <br>
        <div class="col ml-20">
          <div class="card" style="width: 25rem; margin: auto; margin: 10; position: absolute; top: 140%; left: 70%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
            <img class="card-img-top" src="img/LOA130922-011F01.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">MANTENCION NEUMATICOS</h5>
              <p class="card-text"></p>
              <a href="MantencionRuedas.html" class="btn btn-primary">Ir al Detalle</a>
            </div>
          </div>
        </div>
    <br>
        <div class="col ml-5">
          <div class="card" style="width: 25rem; margin: auto; margin: 0; position: absolute; top: 140%; left: 120%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
            <img class="card-img-top" src="img/istock-481678798-1.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">REPARACIÓN MOTOR</h5>
              <p class="card-text"></p>
              <a href="ReparacionMotor.html" class="btn btn-primary"> Ir al Detalle</a>
            </div>
          </div>
        </div> 
    </div>
    
  
  
  
  
  
  </h6>
</div>
<BR>
</BR>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
  <h1 style="position: relative; top: 200px; background-color: rgb(20, 20, 20); width: 500px; left: 720px; border-radius: 5px; text-shadow: black 0.1em 0.1em 0.2em"> Mas Informacion de los servicios </h1>
  

  <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel" style="position:relative; width: 35%; height: 85%;
  margin:1px;
  max-width: 12200px;
  max-height: 50px;
  top: 1000px; 
  left: 650px;  "
>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <img id = "imagenescarrusel" src="estilos/img/20-1472652044-1400x1400.png" class="d-block w-100" alt="..."> -->
        <a title="CAMBIO DE ACEITE" href="detalleaceite.html"><img id = "imagenescarrusel" src="img/La-importancia-del-cambio-de-aceite.jpg" class = "d-block w-100" alt="..." /></a>


        <div class="carousel-caption d-none d-md-block">
            <h6>Cambio de aceite, click aqui para ver detalles</h6>
          </div>

      </div>
      <div class="carousel-item">
        <a title="REPARACION DE MOTOR" href="detallemotor.html"><img id = "imagenescarrusel" src="img/reparacion-motor2-1.jpg" class="d-block w-100" alt="..."></a>
        <div class="carousel-caption d-none d-md-block">
          <h6>Reparacion de Motor, click aqui para ver detalles </h6>
        </div>

    </div>
      </div>


<nav>

  
        <div class="carousel-item">
          <section class = "container"></section>
          <figure>
          <a title="NUESTROS SERVICIOS" href="Servicios.html"><img id = "imagenescarrusel" src="MantencionMotor/maxresdefault.jpg" class="d-block w-100" alt="..."></a>
          </figure>
        </section>
        <div class="carousel-caption d-none d-md-block">
          
         </div>
       
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev" style="


     width: 3rem; height: 2rem; margin: 1px; background-color: rgb(0, 0, 0); top: 2000px; left: 600px;
">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden" >Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next" style="
     width: 3rem; height: 2rem; margin: 1px; background-color: rgb(0, 0, 0); top: 2000px; left: 1320px;

">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
<div>
  <div class="card" style="width: 20rem; height: 22rem; margin: 1px; top: 350px; left: 100px; border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px #000000; border-radius: 25px;">
    <img style = "width: 150px; height: 150px;"src="img/imagescolumna.png " class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center; text-shadow: black 0.1em 0.1em 0.2em">Reparaciones Certificadas</h5>
      <p class="card-text" style="text-align: center;">Entendemos la importancia de brindar reparaciones certificadas de alta calidad para garantizar la seguridad y el rendimiento óptimo de su vehículo</p>
    </div>
  </div>


  <div class="card" style="width: 20rem; height: 22rem; margin: 1px; top: -1px; left: 800px; border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px #000000; border-radius: 25px;">
    <img style = "width: 120px; height: 120px;"src="img/logocard.png " class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center; text-shadow: black 0.1em 0.1em 0.2em">Tipos de Servicios</h5>
      <p class="card-text" style="text-align: center;">Ofrecemos una amplia gama de servicios para satisfacer todas sus necesidades de mantenimiento y reparación de vehículos. Nuestro objetivo es brindarte soluciones completas y confiables</p>
    </div>
  </div>



  <div class="card" style="width: 20rem; height: 22rem; margin: 1px; top: -355px; left: 1500px; border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px #000000; border-radius: 25px;">
    <img style = "width: 90px; height: 90px;"src="img/logoeconomico.png " class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center; text-shadow: black 0.1em 0.1em 0.2em">Atenciones Economicas</h5>
      <p class="card-text" style="text-align: center;"> Nuestro objetivo es proporcionarte servicios confiables y asequibles que mantengan tu vehículo en buen estado. Encontrarás servicios económicos que te permiten mantener tu vehículo en excelentes condiciones sin comprometer tu presupuesto.</p>
    </div>
  </div>


</div>



<div>
  <h1 style="position: relative; top: -200px; background-color: rgb(20, 20, 20); width: 1500px; left: 220px; border-radius: 5px; text-shadow: black 0.1em 0.1em 0.2em; margin: 1px;"> Últimos servicios realizados </h1>
</div>


<div>

  <div class="card" style="width: 20rem; height: 22rem; margin: 1px; top: -150px; left: 1500px; border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px #000000; border-radius: 25px;">
    <img style = "width: 200px; height: 100px; left: 50px; position: relative; top: 100px;" src= "img/vistobueno.jpg" class="card-img-top" alt="...">

  </div>


</div>

      <footer class="bg-dark text-center text-white" id = "Footer">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">

      
            <!-- Twitter -->
            <a id = "imagenredes" class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><img id = "imagenfooter" src="img/png-transparent-computer-icons-twitter-logo-logo-monochrome-black-removebg-preview.png" /></a>

      
            <!-- Instagram -->
            <a id = "imagenredes" class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><img id = "imagenfooter"src="img/insta-removebg-preview.png" /></a>
      
            <!-- Github -->
            <a id = "imagenredes" class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><img id = "imagenfooter" src="img/png-transparent-computer-icons-facebook-blog-facebook-logo-desktop-wallpaper-facebook-icon-removebg-preview.png" /></a>



          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          Redes Sociales 
          
        </div>
        <!-- Copyright -->

      </footer>































      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

      <script src="JS/script.js"></script>
      

</body>

</html>